@model  Horario.Domain.Concrete.HorarioViewModel

@{
    ViewBag.Title = "Horario";
}

<h1>Horario de @Model.Profe.Nombre @Model.Profe.Apellido</h1>
<br />
@Html.ActionLink("Regresar a Profesores", "List")
<br />
@Html.ActionLink("Semana anterior", "Horario", new { Nomina = @Model.Profe.Nomina, DiaTexto = Model.regresarDiaMenos7() })
<br />
@Html.ActionLink("Semana siguiente", "Horario", new { Nomina = @Model.Profe.Nomina, DiaTexto = Model.regresarDiaMas7() })

<div class="row">
    <div class="col-lg-6">
        <table class="table">
            <tr>
                @foreach (var Encabezado in Model.regresarEncabezadosSemana())
                {
                    <th>@Encabezado.Encabezados</th>
                }
            </tr>
            @foreach (var renglon in Model.regresarHorario())
            {
                <tr>
                    <th>@renglon.Mes</th>
                    <th>@renglon.Lunes</th>
                    <th>@renglon.Martes</th>
                    <th>@renglon.Miercoles</th>
                    <th>@renglon.Jueves</th>
                    <th>@renglon.Viernes</th>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6">
        <center><button onclick="Mostrar()" style="position: fixed;" id="Mas" class="btn">Generar cita con @Model.Profe.Nombre</button></center>
       
        <div id="Completo" style="position: fixed; display:none;">
            @using (Html.BeginForm("crearCita", "Profesor", new { NominaProfeC = Model.Profe.Nomina }, FormMethod.Post, null))
            {
                <center>
                    <center><h4>Nueva cita con @Model.Profe.Nombre</h4></center>
                    <div class="panel-body">
                        <p>Tu nombre:@Html.TextBox("NombrePersona", null, new { @class = "form-control" })</p>
                        <p>Asunto:@Html.TextBox("Asunto", null, new { @class = "form-control" })</p>
                        <p>Día:@Html.TextBox("Fecha", null, new { @class = "form-control", @pattern= "(2016)[-]((1|0)[0-2]|[0][0-9])[-]((1|0|2)[0-9]|[3][0-1])" })</p>
                        <p>De:@Html.TextBox("HoraInicio", null, new { @class = "form-control", @pattern= "[0-2][0-9][:](0|3)[0][:][0][0]" })</p>
                        <p>A:@Html.TextBox("HoraFin", null, new { @class = "form-control", @pattern = "[0-2][0-9][:](0|3)[0][:][0][0]" })</p>
</div>
                    <div class="panel-footer">
                        <input type="submit" value="Crear" />
                    </div>
                </center>
            }
        </div>
        
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript">
            function Mostrar(){
                $("#Mas").toggle(function(){
                    $("#Completo").show();
                    //add property fixed
                    $(this).hide();
                });
            }
</script>


