@model  Horario.Domain.Concrete.EFProfesorRepository

@{
    ViewBag.Title = "Profesores disponibles";
}

@foreach (var prof in Model.Profesores)
{
    <div>
        <h3>@prof.Nombre @prof.Apellido</h3>
        @prof.Nomina
        <br />
        @prof.Area
        <br />
        @Html.ActionLink("Ver horario", "Horario", new { Nomina = @prof.Nomina, DiaTexto = DateTime.Now.ToString("yyyy-MM-dd")})
    </div>
}


